[Desktop Entry]
Name=SWAMP CAMP
Exec=run.sh %U
Terminal=false
Type=Application
Icon=camp.swamp.game
StartupWMClass=SWAMP CAMP
Categories=Game;
X-Flatpak=camp.swamp.game